{% extends 'adminpanel/baseadmin.html' %}
{% load static %}

{% block head %}
    <title>Admin Dashboard</title>
    <meta content="Admin Dashboard of EzProperty" name="description" />
{% endblock %}

{% block content %}
               <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Dashboard</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-success">
                                <i class="mdi mdi-currency-usd float-right"></i>
                                <h6 class="text-success text-uppercase mb-3 mt-2">This Month Revenue</h6>
                                <h2 class="mb-2">$<span data-plugin="counterup">0</span></h2>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-primary">
                                <i class="mdi mdi-home-map-marker float-right"></i>
                                <h6 class="text-primary text-uppercase mb-3 mt-2">Total Properties</h6>
                                <h2 class="mb-2"><span data-plugin="counterup">{{total_property}}</span></h2>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-pink">
                                <i class="mdi mdi-comment-multiple-outline float-right"></i>
                                <h6 class="text-pink text-uppercase mb-3 mt-2">This month Inquiries</h6>
                                <h2 class="mb-2" data-plugin="counterup">0</h2>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box tilebox-two border-info">
                                <i class="mdi mdi-account-multiple float-right"></i>
                                <h6 class="text-info text-uppercase mb-3 mt-2">Registered Users</h6>
                                <h2 class="mb-2"><span data-plugin="counterup">0</span></h2>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->


                    

            

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            2024 &copy;CSIT314 by <a href="">Coderthemes</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

        <!-- Vendor js -->
    <script src="{% static 'adminassets/js/vendor.min.js'%}"></script>
    <script src="{% static 'adminassets/js/app.min.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.time.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.tooltip.min.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.resize.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.pie.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.selection.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.stack.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.orderBars.js'%}"></script>
    <script src="{% static 'adminassets/libs/flot-charts/jquery.flot.crosshair.js'%}"></script>

    <script src="{% static 'adminassets/js/pages/real-estate-dashboard.init.js'%}"></script>

{% endblock %}